[mysqld]
# Server ID único (cada replica tem ID único: 1,2, 3, 4...)
server-id=2

# Binary logging
log-bin=mysql-bin

# Formato dos logs
binlog-format=ROW

# Só aceita Leitura
read-only=1

# Relay log, copia os logs do Master
# Recebe os mysql-bin do Master
relay-log=relay-log
log-slave-updates=1