[mysqld]
# Server ID 
server-id=1

# Enable GTID mode
gtid_strict_mode=1
gtid_domain_id=1

# Binary logging 
# Gera ficheiros mysql-bin.000001, .000002, etc
log-bin=mysql-bin

# Formato dos logs
binlog-format=ROW

# Grava no disco (imediato)
sync-binlog=1

# Só replica esta base de dados
binlog-do-db=food_delivery

